html {
	margin: 0;
	height: 100%;
 }

body {
	margin: 0;
	min-height: 100%;
	background-color: #202020;
	color: #BCBCBC;
	font-size: 50px;
	font-weight: 400;
	line-height:150%;
	font-family: "Noto Serif JP", "Meiryo", serif;
}

main {
	margin-left: 10px;
	position: fixed;
	bottom: 90px;
	top:5px;
	overflow-y: auto;
}

p {
	margin-top: 0;
}

#bottom-textbox {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

#line-input {
	font-size:50px;
	max-width: 700px;
	width: calc(100vw - 147px); /* 147px is approximately what's needed to properly align the Add button; determined by experimentation*/
}

#add-line-button {
	font-size: 50px;
}